* {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100vh;
}
header {
  padding-top: 4rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#article__navigator .lead {
  padding: 2rem;
}
img {
  max-width: 100%;
}
a.center.btn {
  display: inline-block;
  padding: 1rem;
  background: #2196f3;
  color: white;
  font-weight: bold;
  border-radius: 2.25rem;
  margin: 1rem 0;
}
